body {
    font-family: Arial;
    background: #eef2ff;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #4f46e5;
    color: white;
}

.board {
    display: flex;
    gap: 20px;
    padding: 20px;
}

section {
    background: white;
    padding: 15px;
    width: 30%;
    border-radius: 10px;
}

ul {
    min-height: 200px;
    list-style: none;
    padding: 0;
}

.task-card {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

/* Priority colors */
.low { background: #d1fae5; }
.medium { background: #fef3c7; }
.high { background: #fee2e2; }

button {
    margin-top: 5px;
    padding: 6px;
    border: none;
    background: #4f46e5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#clearDone {
    background: red;
}

.hidden {
    display: none;
}

/* Modal */
#modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: white;
    padding: 20px;
    margin: 100px auto;
    width: 300px;
}

/* Animation */
.fade-out {
    opacity: 0;
    transition: 0.3s;
}